.cardPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0;
    max-height: 10rem;
    border-radius: 1rem;
}

.cardBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.thumbnail {
    width: 8rem;
    height: 8rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.primaryHeading {
    margin: 2rem 0;
    font-size: 2rem;
    font-family: 'StarWars';
}
