.cardPanel {
    display: flex;
    flex-direction: row;
    margin: 3rem 0;
    max-height: 17rem;
    border-radius: 1rem;
}
.cardBody {
    display: flex;
    align-items: center;
}
.thumbnail {
    width: 8rem;
    height: 8rem;
    margin: 0.7rem;
}
.title {
    margin: 2rem 0;
    font-size: 2rem;
    color: #5ed8e2;
    font-family: 'StarWars';
}
