.buttonPanel {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.buttonPanel .btnLogin {
    font-family: 'RobotoBlack';
    padding: 0.7rem 2.7rem;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    border: none;
    border-radius: 0.7rem;
}

.cardPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 1rem;
}
.cardPanel img.thumbnail {
    width: 10rem!important;
    height: 10rem!important;
}
.cardBody {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.primaryHeading {
    margin: 2rem 0;
    font-size: 2rem;
    font-family: 'StarWars';
}

