.App-header {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #000000;
}
.logo {
  font-size: 3rem;
  font-family: 'StarWars';
}
.loginButton {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}
.loginButton svg {
  color: #72d5dc;
}

.loginButton:hover {
  background-color: #f8e35a;
}
.loginButton:hover svg {
  color: white;
}

